{% extends 'base.html.twig' %}

{% block title %}Example{% endblock %}

{% block body %}
    <h1>Example</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ example.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ example.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('example_index') }}">back to list</a>

    <a href="{{ path('example_edit', {'id': example.id}) }}">edit</a>

    {{ include('example/_delete_form.html.twig') }}
{% endblock %}
