{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <style>
            main {
                width: 100%;
                display: flex;
                flex-direction: row;
                height: 80vh;
            }
            nav {
                width: fit-content;
                padding-right: 3rem;
                border-right: 2px #b6b6b6 solid;
                margin-right: 2rem;
            }
            .nav-list li {
                padding-bottom: 1rem;
            }
        </style>
    {% endblock %}

    {% block body %}

        <h1 style="padding-left: 2.5rem">
            app
        </h1>
        <hr>

        <main>
            <nav>
                <ul class="nav-list">
                    <li><a href="{{ path('dashboard_index') }}" role="navigation">Dashboard</a></li>
                    <li><a href="{{ path('courses_index') }}" role="navigation">Courses</a></li>
                    <li><a href="{{ path('problems_index') }}" role="navigation">Problems</a></li>
                    <li><a href="{{ path('solutions_index') }}" role="navigation">Solutions</a></li>
                    <li><a href="{{ path('rank_index') }}" role="navigation">Rank</a></li>
                    <li><a href="{{ path('settings_index') }}" role="navigation">Settings</a></li>
                    <li><button type="button">Logout</button></li>
                </ul>

            </nav>

            <section>
                {% block section %}{% endblock %}
            </section>
        </main>
    {% endblock %}
